{% extends 'ahc_app/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Client</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Client Signup Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header">
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post" accept-charset="utf-8" novalidate >
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>User Name</label>
                    {{ form.username}}
                  </div>
                    <div class="form-group">
                    <label>First Name</label>
                    {{ form.first_name}}
                  </div>
                    <div class="form-group">
                    <label>Last Name</label>
                    {{ form.last_name}}
                  </div>
                  <div class="form-group">
                    <label>Mobile Number</label>
                    {{ form.mobile_number}}
                  </div>
                  <div class="form-group">
                    <label>Email address</label>
                    {{ form.email}}
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    {{ form.password1}}
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    {{ form.password2}}
                  </div>
                  <div class="form-group mb-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                      <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>

            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
{% endblock %}