{% extends 'ahc_app/base.html' %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Trade</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Trade</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Live Stock Price</h3>
              </div>


                 <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Nifty Spot</th>
                    <th>Nift Fut</th>
                    <th>Bank Nifty Spot</th>
                    <th>Bank Nifty Fut</th>
                    <th>MTM</th>
                    <th>Profit</th>
                    <th>Loss</th>
                    <th>VT</th>
                    <th>LT</th>
                  </tr>
                  </thead>
                  <tbody id = "data_update">

                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

              <!-- /.card-header -->
              <div class="card-body">
                <table id="trade" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Strategies</th>
                    <th>SYMBOL</th>
                    <th>Expiry Date</th>
                    <th>Strike price</th>
                    <th>CE/PE/FUT</th>
                    <th>(MIS / NRML)</th>
                    <th>(BUY/SELL)</th>
                    <th>Order Quantity</th>
                    <th>Partial Exit Quantity</th>
                    <th>Target (Price)</th>
                    <th>Buy / Sell (Price)</th>
                    <th>Buy / Sell (SPOT PRICE)</th>
                    <th>Stop Loss (Price)</th>
                    <th>Profit Trailing</th>
                    <th>Trailing SL Points</th>
                    <th>M/MA/MB</th>
                    <th>Current SL position</th>
                    <th>Trade Status</th>
                    <th>Executed Price</th>
                    <th>Live LTP</th>
                    <th>VWAP</th>
                    <th>MTM</th>
                    <th>IV</th>
                    <th>Delta</th>
                    <th>Gamma</th>
                    <th>Theta</th>
                    <th>Vega</th>
                    <th>Volume</th>
                    <th>Lot size</th>
                    <th>Capital Required to Buy</th>
                    <th>order ID</th>
                    <th>Current Profit position</th>
                    <th>Entry Time</th>
                    <th>Exit Time</th>
                  </tr>
                  </thead>

                  <tbody>

                  <form method="post" action="{% url  'ahc_admin:trade_save_data' %}">
                  {% csrf_token %}
                    {% for strategies_number in strategies_data %}
                  <tr>
                    <td><input type="text" id="strategies" name="strategies" value="{{strategies_number.strategies}}" placeholder="{{strategies_number.strategies}}"></td>
                    <td><input type="text" id="symbol" name="symbol" value="{{strategies_number.symbol}}" placeholder="{{strategies_number.symbol}}"></td>
                    <td><input type="datetime-local" id="expiry_date" name="expiry_date" value="{{strategies_number.expiry_date}}" placeholder="{{strategies_number.expiry_date}}"></td>
                    <td><input type="text" id="strike_price" name="strike_price" value="{{strategies_number.strike_price}}" placeholder="{{strategies_number.strike_price}}"></td>
                    <td><input type="text" id="ce_pe_fut" name="ce_pe_fut" value="{{strategies_number.ce_pe_fut}}" placeholder="{{strategies_number.ce_pe_fut}}"></td>
                    <td><input type="text" id="mis_nrml" name="mis_nrml" value="{{strategies_number.mis_nrml}}" placeholder="{{strategies_number.mis_nrml}}"></td>
                    <td><input type="text" id="buy_sell" name="buy_sell" value="{{strategies_number.buy_sell}}" placeholder="{{strategies_number.buy_sell}}"></td>
                    <td><input type="text" id="order_quantity" name="order_quantity" value="{{strategies_number.order_quantity}}" placeholder="{{strategies_number.order_quantity}}"></td>
                    <td><input type="text" id="partial_exit_quantity" name="partial_exit_quantity" value="{{strategies_number.partial_exit_quantity}}" placeholder="{{strategies_number.partial_exit_quantity}}"></td>
                    <td><input type="text" id="target" name="target" value="{{strategies_number.target}}" placeholder="{{strategies_number.target}}"></td>
                    <td><input type="text" id="buy_sell_spotprice" name="buy_sell_spotprice" value="{{strategies_number.buy_sell_spotprice}}" placeholder="{{strategies_number.buy_sell_spotprice}}"></td>
                    <td><input type="text" id="stop_loss" name="stop_loss" value="{{strategies_number.stop_loss}}" placeholder="{{strategies_number.stop_loss}}"></td>
                    <td><input type="text" id="profit_trailing" name="profit_trailing" value="{{strategies_number.profit_trailing}}" placeholder="{{strategies_number.profit_trailing}}"></td>
                    <td><input type="text" id="trailing_sl_points" name="trailing_sl_points" value="{{strategies_number.trailing_sl_points}}" placeholder="{{strategies_number.trailing_sl_points}}"></td>
                    <td><input type="text" id="m_ma_mb" name="m_ma_mb" value="{{strategies_number.m_ma_mb}}" placeholder="{{strategies_number.m_ma_mb}}"></td>
                    <td><input type="text" id="current_sl_position" name="current_sl_position" value="{{strategies_number.current_sl_position}}" placeholder="{{strategies_number.current_sl_position}}"></td>
                    <td><input type="text" id="trade_status" name="trade_status" value="{{strategies_number.trade_status}}" placeholder="{{strategies_number.trade_status}}"></td>
                    <td><input type="text" id="executed_price" name="executed_price" value="{{strategies_number.executed_price}}" placeholder="{{strategies_number.executed_price}}"></td>
                    <td><input type="text" id="live_ltp" name="live_ltp" value="{{strategies_number.live_ltp}}" placeholder="{{strategies_number.live_ltp}}"></td>
                    <td><input type="text" id="vwap" name="vwap" value="{{strategies_number.vwap}}" placeholder="{{strategies_number.vwap}}"></td>
                    <td><input type="text" id="mtm" name="mtm" value="{{strategies_number.mtm}}" placeholder="{{strategies_number.mtm}}"></td>
                    <td><input type="text" id="iv" name="iv" value="{{strategies_number.iv}}" placeholder="{{strategies_number.iv}}"></td>
                    <td><input type="text" id="delta" name="delta" value="{{strategies_number.delta}}" placeholder="{{strategies_number.delta}}"></td>
                    <td><input type="text" id="gamma" name="gamma" value="{{strategies_number.gamma}}" placeholder="{{strategies_number.gamma}}"></td>
                    <td><input type="text" id="rho" name="rho" value="{{strategies_number.rho}}" placeholder="{{strategies_number.rho}}"></td>
                    <td><input type="text" id="theta" name="theta" value="{{strategies_number.theta}}" placeholder="{{strategies_number.theta}}"></td>
                    <td><input type="text" id="vega" name="vega" value="{{strategies_number.vega}}" placeholder="{{strategies_number.vega}}"></td>
                    <td><input type="text" id="volume" name="volume" value="{{strategies_number.volume}}" placeholder="{{strategies_number.volume}}"></td>
                    <td><input type="text" id="lot_size" name="lot_size" value="{{strategies_number.lot_size}}" placeholder="{{strategies_number.lot_size}}"></td>
                    <td><input type="text" id="capital_required_to_buy" name="capital_required_to_buy" value="{{strategies_number.capital_required_to_buy}}" placeholder="{{strategies_number.capital_required_to_buy}}"></td>
                    <td><input type="text" id="order_id" name="order_id" value="{{strategies_number.order_id}}" placeholder="{{strategies_number.order_id}}"></td>
                    <td><input type="text" id="current_profit_position" name="current_profit_position" value="{{strategies_number.current_profit_position}}" placeholder="{{strategies_number.current_profit_position}}"></td>
                    <td><input type="datetime-local" id="entry_time" name="entry_time" value="{{strategies_number.entry_time}}" placeholder="{{strategies_number.entry_time}}"></td>
                    <td><input type="datetime-local" id="exit_time" name="exit_time" value="{{strategies_number.exit_time}}" placeholder="{{strategies_number.exit_time}}"></td>
                    <td><button type="submit">Submit</button></td>
                  </tr>
                    {% endfor %}
                  </form>

                  </tfoot>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      <!-- /.container-fluid -->
    </section>
  </div>

{% endblock %}


